.wrapper {
    text-align: center;
}

img {
    width: 100px;
    height: 100px;
    transition: 0.2s;
}

img:active {
    transform: scale(0.9);
    cursor: pointer;
}

.result {
    background-color: red;
    padding: 8px;
    font-size: 32px;
}