* {
    font-family:Arial, Helvetica, sans-serif;
}

body {
    background-color: #191919;
}
.characters {
    width: 75%;
    margin: 0 auto;              /* ortalar */
    padding: 20px;
    color: #fff;
}

.characters-inner {
    width: 100%;
}

.character-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

.symbols,
.words {
    width: 45%;
}


.top {
    text-align: center;
}

h1 {
    color : #715A5A;
    font-size: 32px;
}

.result-begin {
    color : rgb(177, 174, 174);
}

.result-end {
    font-size: 24px;
    color : #fff;
}

#button {
    width: 75%;
    height: 100px;
    border-radius: 8px;
    border: 0;
    transition: 0.4s;
    background-color: #44444E;
    font-size: 24px;
    color: #ddd;
}

#backspace, #restart, #button:hover {
    cursor: pointer;
}

#button:hover {
    transform:translateY(-4px);
    background-color: #53535e;
}

.action {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

#status {
    color : #fff;
}

.action.warning {
    display: inline-block;
    font-size: 12px;
}

.container {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.result {
    margin: 16px 0;
}

.input,
.output {
    width: 100%;
    background-color: #303036;
    padding: 12px 8px;
    border-radius: 8px;
}

.output {
    margin-top: 12px;
}

.bottom-btn {
    display: flex;
    gap: 10px;
}


#backspace {
    margin-left: 8px ;
    background-color: #53535e;
    color: #fff;
    border-radius: 4px;
} 

#restart {
    background: url(trash-can.svg);
    background-size: 30px 40px;
    width: 30px;
    height: 40px;
    border : 0;
}
